downloads/xml_code_2021-12-13-17-04-18.549429.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fssp="http://www.fssprus.ru/namespace/query/2017/1" targetNamespace="http://www.fssprus.ru/namespace/query/2017/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
 <xs:simpleType name="DIntegerType">
  <xs:annotation>
   <xs:documentation>С†РµР»РѕРµ С‡РёСЃР»Рѕ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:integer">
   <xs:maxInclusive value="2147483647"/>
   <xs:minInclusive value="-2147483648"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DInnType">
  <xs:annotation>
   <xs:documentation>РёРґРµРЅС‚РёС„РёРєР°С†РёРѕРЅРЅС‹Р№ РЅРѕРјРµСЂ РЅР°Р»РѕРіРѕРїР»Р°С‚РµР»СЊС‰РёРєР° (РґР°Р»РµРµ вЂ“ РРќРќ) РґР»СЏ СЋСЂРёРґРёС‡РµСЃРєРѕРіРѕ Р»РёС†Р° - 10 С†РёС„СЂ,РґР»СЏ РёРЅРґРёРІРёРґСѓР°Р»СЊРЅРѕРіРѕ РїСЂРµРґРїСЂРёРЅРёРјР°С‚РµР»СЏ - 12 С†РёС„СЂ.Р”РѕРїСѓСЃС‚РёРјРѕ СѓРєР°Р·Р°РЅРёРµ РєРѕРґР° РёРЅРѕСЃС‚СЂР°РЅРЅРѕР№ РѕСЂРіР°РЅРёР·Р°С†РёРё РґР»СЏ СЋСЂРёРґРёС‡РµСЃРєРѕРіРѕ Р»РёС†Р° - РЅРµСЂРµР·РёРґРµРЅС‚Р° - 5 С†РёС„СЂ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:pattern value="\d{5}|\d{10}|\d{12}"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DKppType">
  <xs:annotation>
   <xs:documentation>РєРѕРґ РїСЂРёС‡РёРЅС‹ РїРѕСЃС‚Р°РЅРѕРІРєРё РЅР° СѓС‡РµС‚ (РґР°Р»РµРµ - РљРџРџ)</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:length value="9"/>
   <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-F]{2})([0-9]{3})"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DOgrnType">
  <xs:annotation>
   <xs:documentation>РѕСЃРЅРѕРІРЅРѕР№ РіРѕСЃСѓРґР°СЂСЃС‚РІРµРЅРЅС‹Р№ СЂРµРіРёСЃС‚СЂР°С†РёРѕРЅРЅС‹Р№ РЅРѕРјРµСЂ (РґР°Р»РµРµ - РћР“Р Рќ)</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="15"/>
   <xs:pattern value="([125]\d{12})|(3\d{14})"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DAddrType">
  <xs:annotation>
   <xs:documentation>РїРѕС‡С‚РѕРІС‹Р№ Р°РґСЂРµСЃ. РЈРєР°Р·С‹РІР°РµС‚СЃСЏ РІ С„РѕСЂРјР°С‚Рµ: {РєРѕРґ СЃС‚СЂР°РЅС‹ РїРѕ РћР±С‰РµСЂРѕСЃСЃРёР№СЃРєРѕРјСѓ РєР»Р°СЃСЃРёС„РёРєР°С‚РѕСЂСѓ СЃС‚СЂР°РЅ РјРёСЂР° (РґР°Р»РµРµ - РћРљРЎРњ)}, {РїРѕС‡С‚РѕРІС‹Р№ РёРЅРґРµРєСЃ}, {СЂРµРіРёРѕРЅ}, {СЂР°Р№РѕРЅ}, {РіРѕСЂРѕРґ}, {РЅР°СЃРµР»РµРЅРЅС‹Р№ РїСѓРЅРєС‚}, {СѓР»РёС†Р°}, {РґРѕРј}, {РєРѕСЂРїСѓСЃ / СЃС‚СЂРѕРµРЅРёРµ / РІР»Р°РґРµРЅРёРµ}, {РєРІР°СЂС‚РёСЂР°} РёР»Рё (РІ СЃР»СѓС‡Р°Рµ РѕС‚СЃСѓС‚СЃС‚РІРёСЏ РєРѕРґР° СЃС‚СЂР°РЅС‹ РїРѕ РћРљРЎРњ) РІ РїСЂРѕРёР·РІРѕР»СЊРЅРѕРј С„РѕСЂРјР°С‚Рµ </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="200"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DCaptionType">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂРѕРєР° РґР»РёРЅРѕР№ РЅРµ Р±РѕР»РµРµ 80 СЃРёРјРІРѕР»РѕРІ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="80"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DIdType">
  <xs:annotation>
   <xs:documentation>РёРґРµРЅС‚РёС„РёРєР°С‚РѕСЂ РґРѕРєСѓРјРµРЅС‚Р° РІ РђРІС‚РѕРјР°С‚РёР·РёСЂРѕРІР°РЅРЅРѕР№ РёРЅС„РѕСЂРјР°С†РёРѕРЅРЅРѕР№ СЃРёСЃС‚РµРјРµ Р¤РЎРЎРџ Р РѕСЃСЃРёРё (РґР°Р»РµРµ - РђРРЎ Р¤РЎРЎРџ Р РѕСЃСЃРёРё)</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:integer">
   <xs:maxInclusive value="9223372036854775807"/>
   <xs:minInclusive value="-9223372036854775808"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DDocnumberType">
  <xs:annotation>
   <xs:documentation>РЅРѕРјРµСЂ РґРѕРєСѓРјРµРЅС‚Р°</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="25"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DPositiveIntegerType">
  <xs:annotation>
   <xs:documentation>С†РµР»РѕРµ РїРѕР»РѕР¶РёС‚РµР»СЊРЅРѕРµ С‡РёСЃР»Рѕ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:integer">
   <xs:maxInclusive value="2147483647"/>
   <xs:minInclusive value="1"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DVarchar10Type">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂРѕРєР° РґР»РёРЅРѕР№ РѕС‚ 1 РґРѕ 10 СЃРёРјРІРѕР»РѕРІ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:minLength value="1"/>
   <xs:maxLength value="10"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DMoneyType">
  <xs:annotation>
   <xs:documentation>СЃСѓРјРјР°</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:decimal">
   <xs:totalDigits value="15"/>
   <xs:fractionDigits value="2"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DBooleanType">
  <xs:annotation>
   <xs:documentation>РґРѕРїСѓСЃС‚РёРјС‹Рµ Р·РЅР°С‡РµРЅРёСЏ "Р»РѕР¶СЊ" Рё "РёСЃС‚РёРЅР°"</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:boolean"/>
 </xs:simpleType>
 <xs:simpleType name="DVarchar3000Type">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂРѕРєР° РґР»РёРЅРѕР№ РѕС‚ 1 РґРѕ 3000 СЃРёРјРІРѕР»РѕРІ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:minLength value="1"/>
   <xs:maxLength value="3000"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DDescriptionType">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂРѕРєР° РґР»РёРЅРѕР№ РЅРµ Р±РѕР»РµРµ 1000 СЃРёРјРІРѕР»РѕРІ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="1000"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DDateType">
  <xs:annotation>
   <xs:documentation>РґР°С‚Р°</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:date">
   <xs:minInclusive value="1900-01-01"/>
   <xs:maxInclusive value="2100-01-01"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DVarchar1Type">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂРѕРєР° РґР»РёРЅРѕР№ 1 СЃРёРјРІРѕР»</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:length value="1"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DVarchar25Type">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂРѕРєР° РґР»РёРЅРѕР№ РѕС‚ 1 РґРѕ 25 СЃРёРјРІРѕР»РѕРІ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:minLength value="1"/>
   <xs:maxLength value="25"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DWarningCodeType">
  <xs:annotation>
   <xs:documentation>РєРѕРґ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏ РѕР± РѕС‚РІРµС‚СЃС‚РІРµРЅРЅРѕСЃС‚Рё, СѓРІРµРґРѕРјР»РµРЅРёСЏ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="200"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DPersonDocumentTypeType">
  <xs:annotation>
   <xs:documentation>С‚РёРїС‹ РґРѕРєСѓРјРµРЅС‚РѕРІ, СѓРґРѕСЃС‚РѕРІРµСЂСЏСЋС‰РёС… Р»РёС‡РЅРѕСЃС‚СЊ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:length value="2"/>
   <xs:enumeration value="01">
    <xs:annotation>
     <xs:documentation>РїР°СЃРїРѕСЂС‚ РіСЂР°Р¶РґР°РЅРёРЅР° РЎРѕСЋР·Р° РЎРѕРІРµС‚СЃРєРёС… РЎРѕС†РёР°Р»РёСЃС‚РёС‡РµСЃРєРёС… Р РµСЃРїСѓР±Р»РёРє</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="02">
    <xs:annotation>
     <xs:documentation>Р·Р°РіСЂР°РЅРїР°СЃРїРѕСЂС‚ РіСЂР°Р¶РґР°РЅРёРЅР° РЎРѕСЋР·Р° РЎРѕРІРµС‚СЃРєРёС… РЎРѕС†РёР°Р»РёСЃС‚РёС‡РµСЃРєРёС… Р РµСЃРїСѓР±Р»РёРє</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="03">
    <xs:annotation>
     <xs:documentation>СЃРІРёРґРµС‚РµР»СЊСЃС‚РІРѕ Рѕ СЂРѕР¶РґРµРЅРёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="04">
    <xs:annotation>
     <xs:documentation>СѓРґРѕСЃС‚РѕРІРµСЂРµРЅРёРµ Р»РёС‡РЅРѕСЃС‚Рё РѕС„РёС†РµСЂР°</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="05">
    <xs:annotation>
     <xs:documentation>СЃРїСЂР°РІРєР° РѕР± РѕСЃРІРѕР±РѕР¶РґРµРЅРёРё РёР· РјРµСЃС‚Р° Р»РёС€РµРЅРёСЏ СЃРІРѕР±РѕРґС‹</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="06">
    <xs:annotation>
     <xs:documentation>РїР°СЃРїРѕСЂС‚ РњРёРЅРјРѕСЂС„Р»РѕС‚Р°</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="07">
    <xs:annotation>
     <xs:documentation>РІРѕРµРЅРЅС‹Р№ Р±РёР»РµС‚ СЃРѕР»РґР°С‚Р° (РјР°С‚СЂРѕСЃР°, СЃРµСЂР¶Р°РЅС‚Р°, СЃС‚Р°СЂС€РёРЅС‹)</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="08">
    <xs:annotation>
     <xs:documentation>РІСЂРµРјРµРЅРЅРѕРµ СѓРґРѕСЃС‚РѕРІРµСЂРµРЅРёРµ, РІС‹РґР°РЅРЅРѕРµ РІР·Р°РјРµРЅ РІРѕРµРЅРЅРѕРіРѕ Р±РёР»РµС‚Р°</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="09">
    <xs:annotation>
     <xs:documentation>РґРёРїР»РѕРјР°С‚РёС‡РµСЃРєРёР№ РїР°СЃРїРѕСЂС‚ РіСЂР°Р¶РґР°РЅРёРЅР° Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="10">
    <xs:annotation>
     <xs:documentation>РёРЅРѕСЃС‚СЂР°РЅРЅС‹Р№ РїР°СЃРїРѕСЂС‚</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="11">
    <xs:annotation>
     <xs:documentation>СЃРІРёРґРµС‚РµР»СЊСЃС‚РІРѕ Рѕ СЂР°СЃСЃРјРѕС‚СЂРµРЅРёРё С…РѕРґР°С‚Р°Р№СЃС‚РІР° Рѕ РїСЂРёР·РЅР°РЅРёРё Р±РµР¶РµРЅС†РµРј РїРѕ СЃСѓС‰РµСЃС‚РІСѓ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="12">
    <xs:annotation>
     <xs:documentation>РІРёРґ РЅР° Р¶РёС‚РµР»СЊСЃС‚РІРѕ Р»РёС†Р° Р±РµР· РіСЂР°Р¶РґР°РЅСЃС‚РІР°</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="13">
    <xs:annotation>
     <xs:documentation>СѓРґРѕСЃС‚РѕРІРµСЂРµРЅРёРµ Р±РµР¶РµРЅС†Р° РІ Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="14">
    <xs:annotation>
     <xs:documentation>РІСЂРµРјРµРЅРЅРѕРµ СѓРґРѕСЃС‚РѕРІРµСЂРµРЅРёРµ Р»РёС‡РЅРѕСЃС‚Рё РіСЂР°Р¶РґР°РЅРёРЅР° Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="19">
    <xs:annotation>
     <xs:documentation>СЂР°Р·СЂРµС€РµРЅРёРµ РЅР° РІСЂРµРјРµРЅРЅРѕРµ РїСЂРѕР¶РёРІР°РЅРёРµ РІ Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="20">
    <xs:annotation>
     <xs:documentation>СЃРІРёРґРµС‚РµР»СЊСЃС‚РІРѕ Рѕ РїСЂРµРґРѕСЃС‚Р°РІР»РµРЅРёРё РІСЂРµРјРµРЅРЅРѕРіРѕ СѓР±РµР¶РёС‰Р° РЅР° С‚РµСЂСЂРёС‚РѕСЂРёРё Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="21">
    <xs:annotation>
     <xs:documentation>РїР°СЃРїРѕСЂС‚ РіСЂР°Р¶РґР°РЅРёРЅР° Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="22">
    <xs:annotation>
     <xs:documentation>Р·Р°РіСЂР°РЅРїР°СЃРїРѕСЂС‚ РіСЂР°Р¶РґР°РЅРёРЅР° Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="23">
    <xs:annotation>
     <xs:documentation>СЃРІРёРґРµС‚РµР»СЊСЃС‚РІРѕ Рѕ СЂРѕР¶РґРµРЅРёРё, РІС‹РґР°РЅРЅРѕРµ СѓРїРѕР»РЅРѕРјРѕС‡РµРЅРЅС‹Рј РѕСЂРіР°РЅРѕРј РёРЅРѕСЃС‚СЂР°РЅРЅРѕРіРѕ РіРѕСЃСѓРґР°СЂСЃС‚РІР°</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="24">
    <xs:annotation>
     <xs:documentation>СѓРґРѕСЃС‚РѕРІРµСЂРµРЅРёРµ Р»РёС‡РЅРѕСЃС‚Рё РІРѕРµРЅРЅРѕСЃР»СѓР¶Р°С‰РµРіРѕ Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="26">
    <xs:annotation>
     <xs:documentation>РїР°СЃРїРѕСЂС‚ РјРѕСЂСЏРєР°</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="27">
    <xs:annotation>
     <xs:documentation>РІРѕРµРЅРЅС‹Р№ Р±РёР»РµС‚ РѕС„РёС†РµСЂР° Р·Р°РїР°СЃР°</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="61">
    <xs:annotation>
     <xs:documentation>СЃРІРёРґРµС‚РµР»СЊСЃС‚РІРѕ Рѕ СЃРјРµСЂС‚Рё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="91">
    <xs:annotation>
     <xs:documentation>РёРЅС‹Рµ РґРѕРєСѓРјРµРЅС‚С‹, РїСЂРµРґСѓСЃРјРѕС‚СЂРµРЅРЅС‹Рµ Р·Р°РєРѕРЅРѕРґР°С‚РµР»СЊСЃС‚РІРѕРј Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DVkspType">
  <xs:annotation>
   <xs:documentation>РєРѕРґ СЃС‚СЂСѓРєС‚СѓСЂРЅРѕРіРѕ РїРѕРґСЂР°Р·РґРµР»РµРЅРёСЏ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:length value="5"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DPievDocAttributeTypeType">
  <xs:annotation>
   <xs:documentation>С‚РёРї С„СЂР°РіРјРµРЅС‚Р° РёРЅС„РѕСЂРјРёСЂСѓСЋС‰РµРіРѕ С‚РµРєСЃС‚Р° РІ СЌР»РµРєС‚СЂРѕРЅРЅРѕРј Р·Р°РїСЂРѕСЃРµ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:integer">
   <xs:enumeration value="1">
    <xs:annotation>
     <xs:documentation>РџСЂРµРґСѓРїСЂРµР¶РґРµРЅРёРµ РѕР± РѕС‚РІРµС‚СЃС‚РІРµРЅРЅРѕСЃС‚Рё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="3">
    <xs:annotation>
     <xs:documentation>РЈРІРµРґРѕРјР»РµРЅРёРµ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DVarchar31Type">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂРѕРєР° РґР»РёРЅРѕР№ РѕС‚ 1 РґРѕ 31 СЃРёРјРІРѕР»Р°</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:minLength value="1"/>
   <xs:maxLength value="31"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DSnilsType">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂР°С…РѕРІРѕР№ РЅРѕРјРµСЂ РёРЅРґРёРІРёРґСѓР°Р»СЊРЅРѕРіРѕ Р»РёС†РµРІРѕРіРѕ СЃС‡РµС‚Р°. РџРµСЂРµРґР°РµС‚СЃСЏ Р±РµР· СЂР°Р·РґРµР»РёС‚РµР»РµР№ Рё РїСЂРѕР±РµР»РѕРІ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="11"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DReceiverAddrTypeType">
  <xs:annotation>
   <xs:documentation>С‚РёРї РёРЅС„РѕСЂРјР°С†РёРё РѕР± Р°РґСЂРµСЃРµ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="10"/>
   <xs:enumeration value="EMAIL">
    <xs:annotation>
     <xs:documentation>Р°РґСЂРµСЃ СЌР»РµРєС‚СЂРѕРЅРЅРѕР№ РїРѕС‡С‚С‹</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="FSSPRUS.RU">
    <xs:annotation>
     <xs:documentation>РёРґРµРЅС‚РёС„РёРєР°С‚РѕСЂ Р»РёС‡РЅРѕРіРѕ РєР°Р±РёРЅРµС‚Р° РЅР° РѕС„РёС†РёР°Р»СЊРЅРѕРј СЃР°Р№С‚Рµ Р¤РЎРЎРџ Р РѕСЃСЃРёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="Р’Р•Р‘-РЎР•Р Р’РРЎ">
    <xs:annotation>
     <xs:documentation>РёРґРµРЅС‚РёС„РёРєР°С‚РѕСЂ РєРѕСЂСЂРµСЃРїРѕРЅРґРµРЅС‚Р° РґР»СЏ РґРѕСЃС‚Р°РІРєРё РїРѕСЃСЂРµРґСЃС‚РІРѕРј СЌР»РµРєС‚СЂРѕРЅРЅРѕРіРѕ СЃРµСЂРІРёСЃР° Р¤РЎРЎРџ Р РѕСЃСЃРёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="Р“Р­РџРЎ">
    <xs:annotation>
     <xs:documentation>РїРѕС‡С‚РѕРІС‹Р№ Р°РґСЂРµСЃ РґР»СЏ РґРѕСЃС‚Р°РІРєРё РїРѕСЃСЂРµРґСЃС‚РІРѕРј РёРЅС„РѕСЂРјР°С†РёРѕРЅРЅРѕР№ СЃРёСЃС‚РµРјС‹ С„РµРґРµСЂР°Р»СЊРЅРѕРіРѕ РѕРїРµСЂР°С‚РѕСЂР° РїРѕС‡С‚РѕРІРѕР№ СЃРІСЏР·Рё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="Р•РџР“РЈ">
    <xs:annotation>
     <xs:documentation>СЃС‚СЂР°С…РѕРІРѕР№ РЅРѕРјРµСЂ РёРЅРґРёРІРёРґСѓР°Р»СЊРЅРѕРіРѕ Р»РёС†РµРІРѕРіРѕ СЃС‡РµС‚Р°  (РґР°Р»РµРµ - РЎРќРР›РЎ) РґР»СЏ РґРѕСЃС‚Р°РІРєРё РїРѕСЃСЂРµРґСЃС‚РІРѕРј Р•РґРёРЅРѕРіРѕ РїРѕСЂС‚Р°Р»Р° РіРѕСЃСѓРґР°СЂСЃС‚РІРµРЅРЅС‹С… Рё РјСѓРЅРёС†РёРїР°Р»СЊРЅС‹С… СѓСЃР»СѓРі</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="РџРћР§РўРћР™">
    <xs:annotation>
     <xs:documentation> РїРѕС‡С‚РѕРІС‹Р№ Р°РґСЂРµСЃ РґР»СЏ РґРѕСЃС‚Р°РІРєРё РЅР° Р±СѓРјР°Р¶РЅРѕРј РЅРѕСЃРёС‚РµР»Рµ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="Р¤РЎРЎРџ">
    <xs:annotation>
     <xs:documentation>РєРѕРґ СЃС‚СЂСѓРєС‚СѓСЂРЅРѕРіРѕ РїРѕРґСЂР°Р·РґРµР»РµРЅРёСЏ С‚РµСЂСЂРёС‚РѕСЂРёР°Р»СЊРЅРѕРіРѕ РѕСЂРіР°РЅР° РёР»Рё С†РµРЅС‚СЂР°Р»СЊРЅРѕРіРѕ Р°РїРїР°СЂР°С‚Р° Р¤РЎРЎРџ Р РѕСЃСЃРёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DDocTypeType">
  <xs:annotation>
   <xs:documentation>РєРѕРґ РІРёРґР° Р·Р°РїСЂРѕСЃР°</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="31"/>
   <xs:enumeration value="O_IP_REQ_TRANSPORT_MVV">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ РѕРїРµСЂР°С‚РѕСЂСѓ Р±СЂРѕРЅРёСЂРѕРІР°РЅРёСЏ Рё РїСЂРѕРґР°Р¶Рё Р±РёР»РµС‚РѕРІ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_ARCHIVAL_ACCOUNT">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ РЅР° РїСЂРµРґРѕСЃС‚Р°РІР»РµРЅРёРµ СЃРІРµРґРµРЅРёР№ РѕР± Р°СЂС…РёРІРЅС‹С… СЃС‡РµС‚Р°С… Рё  РґРІРёР¶РµРЅРёРё РґРµРЅРµР¶РЅС‹С… СЃСЂРµРґСЃС‚РІ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_BANK">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ РІ Р±Р°РЅРє Рѕ РЅР°Р»РёС‡РёРё СЃС‡РµС‚РѕРІ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_SALARY_WITHHELD">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ Рѕ РјРµСЃС‚Рµ РїРѕР»СѓС‡РµРЅРёСЏ РґРѕС…РѕРґР° Рё/РёР»Рё РЅР°С‡РёСЃР»РµРЅРЅРѕРј РґРµРЅРµР¶РЅРѕРј РґРѕРІРѕР»СЊСЃС‚РІРёРё Рё РїСЂРѕРёР·РІРµРґРµРЅРЅС‹С… СѓРґРµСЂР¶Р°РЅРёСЏС…</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_LICENSE">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ Рѕ РЅР°Р»РёС‡РёРё Р»РёС†РµРЅР·РёР№</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_GOODS">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ РЅР° РїРѕР»СѓС‡РµРЅРёРµ СЃРІРµРґРµРЅРёР№ Рѕ РїРµСЂРµРјРµС‰РµРЅРёРё С‚РѕРІР°СЂРѕРІ Рё РёС… РЅР°Р»РёС‡РёРµ РЅР° СЃРєР»Р°РґР°С… РІСЂРµРјРµРЅРЅРѕРіРѕ С…СЂР°РЅРµРЅРёСЏ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_NOTARY_CHAMBER">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ РІ РЅРѕС‚Р°СЂРёР°Р»СЊРЅСѓСЋ РїР°Р»Р°С‚Сѓ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_SECURITY">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ СЂРµРіРёСЃС‚СЂР°С‚РѕСЂСѓ С†РµРЅРЅС‹С… Р±СѓРјР°Рі</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_PAY_DEBT">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ СЃРІРµРґРµРЅРёР№ Рѕ РїРѕРіР°С€РµРЅРёРё РґРѕР»Р¶РЅРёРєРѕРј Р·Р°РґРѕР»Р¶РµРЅРЅРѕСЃС‚Рё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_ZAGS">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ СЃРІРµРґРµРЅРёР№ РІ РѕСЂРіР°РЅС‹ Р—РђР“РЎ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_SBER_PENSION">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ РІ РЎР±РµСЂР±Р°РЅРє РџР¤Р  Рѕ СЂР°Р·РјРµСЂР°С… РїРµРЅСЃРёРѕРЅРЅС‹С… РІС‹РїР»Р°С‚ (РњР’Р’)</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_TECH">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ Рѕ РЅР°Р»РёС‡РёРё СЃР°РјРѕС…РѕРґРЅРѕР№ РёР»Рё РёРЅРѕР№ С‚РµС…РЅРёРєРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration> 
   <xs:enumeration value="O_IP_REQ_SMS_DBTR">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ Рє РѕРїРµСЂР°С‚РѕСЂСѓ СЃРѕС‚РѕРІРѕР№ СЃРІСЏР·Рё Рѕ РЅРѕРјРµСЂРµ С‚РµР»РµС„РѕРЅР° РґРѕР»Р¶РЅРёРєР°</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="O_IP_REQ_SMS_CRDR">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ Рє РѕРїРµСЂР°С‚РѕСЂСѓ СЃРѕС‚РѕРІРѕР№ СЃРІСЏР·Рё Рѕ РЅРѕРјРµСЂРµ С‚РµР»РµС„РѕРЅР° РІР·С‹СЃРєР°С‚РµР»СЏ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DPostnameType">
  <xs:annotation>
   <xs:documentation>РЅР°РёРјРµРЅРѕРІР°РЅРёРµ РґРѕР»Р¶РЅРѕСЃС‚Рё РїРѕ Р Р”Р¤Р“Р“РЎ РёР»Рё РћРљРџР”РўР </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="255"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DUserFioType">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂРѕРєР° РґР»РёРЅРѕР№ РЅРµ Р±РѕР»РµРµ 95 СЃРёРјРІРѕР»РѕРІ</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="95"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DNPAType">
  <xs:annotation>
   <xs:documentation>С‚РёРї РЅРѕСЂРјР°С‚РёРІРЅРѕРіРѕ РїСЂР°РІРѕРІРѕРіРѕ Р°РєС‚Р° (РґР°Р»РµРµ - РќРџРђ)</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:integer">
   <xs:enumeration value="1">
    <xs:annotation>
     <xs:documentation>РљРѕРґРµРєСЃ Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё РѕР± Р°РґРјРёРЅРёСЃС‚СЂР°С‚РёРІРЅС‹С… РїСЂР°РІРѕРЅР°СЂСѓС€РµРЅРёСЏС… (РљРѕРђРџ)</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="2">
    <xs:annotation>
     <xs:documentation>РЈРіРѕР»РѕРІРЅС‹Р№ РєРѕРґРµРєСЃ Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё (РЈРљ)</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="3">
    <xs:annotation>
     <xs:documentation>РЅРѕСЂРјР°С‚РёРІРЅРѕ-РїСЂР°РІРѕРІРѕР№ Р°РєС‚ СЃСѓР±СЉРµРєС‚Р° Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="4">
    <xs:annotation>
     <xs:documentation>Р¤РµРґРµСЂР°Р»СЊРЅС‹Р№ Р·Р°РєРѕРЅ РѕС‚ 02.10.2007 в„– 229-Р¤Р— В«РћР± РёСЃРїРѕР»РЅРёС‚РµР»СЊРЅРѕРј РїСЂРѕРёР·РІРѕРґСЃС‚РІРµВ»</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="5">
    <xs:annotation>
     <xs:documentation>Р¤РµРґРµСЂР°Р»СЊРЅС‹Р№ Р·Р°РєРѕРЅ РѕС‚ 21.07.1997 в„– 118-Р¤Р— В«Рћ СЃСѓРґРµР±РЅС‹С… РїСЂРёСЃС‚Р°РІР°С…В»</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="6">
    <xs:annotation>
     <xs:documentation>РґСЂСѓРіРёРµ С„РµРґРµСЂР°Р»СЊРЅС‹Рµ Р·Р°РєРѕРЅС‹</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DPostcodeType">
  <xs:annotation>
   <xs:documentation>РєРѕРґ РїРѕ СЂРµРµСЃС‚СЂСѓ РґРѕР»Р¶РЅРѕСЃС‚РµР№ С„РµРґРµСЂР°Р»СЊРЅРѕР№ РіРѕСЃСѓРґР°СЂСЃС‚РІРµРЅРЅРѕР№ РіСЂР°Р¶РґР°РЅСЃРєРѕР№ СЃР»СѓР¶Р±С‹, СѓС‚РІРµСЂР¶РґР°РµРјРѕРјСѓ РІ СЃРѕРѕС‚РІРµС‚СЃС‚РІРёРё СЃ РЈРєР°Р·РѕРј РџСЂРµР·РёРґРµРЅС‚Р° Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё РѕС‚ 31.12.2005 в„–В 1574 В«Рћ СЂРµРµСЃС‚СЂРµ РґРѕР»Р¶РЅРѕСЃС‚РµР№ Р¤РµРґРµСЂР°Р»СЊРЅРѕР№ РіРѕСЃСѓРґР°СЂСЃС‚РІРµРЅРЅРѕР№ РіСЂР°Р¶РґР°РЅСЃРєРѕР№ СЃР»СѓР¶Р±С‹В» (РґР°Р»РµРµ вЂ” Р Р”Р¤Р“Р“РЎ), РёР»Рё РћР±С‰РµСЂРѕСЃСЃРёР№СЃРєРѕРјСѓ РєР»Р°СЃСЃРёС„РёРєР°С‚РѕСЂСѓ РїСЂРѕС„РµСЃСЃРёР№ СЂР°Р±РѕС‡РёС…, РґРѕР»Р¶РЅРѕСЃС‚РµР№ СЃР»СѓР¶Р°С‰РёС… Рё С‚Р°СЂРёС„РЅС‹С… СЂР°Р·СЂСЏРґРѕРІ (РґР°Р»РµРµ - РћРљРџР”РўР )</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="25"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DDeloTypeType">
  <xs:annotation>
   <xs:documentation>РІРёРґ РґРµР»Р°</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:maxLength value="10"/>
   <xs:enumeration value="РРџ">
    <xs:annotation>
     <xs:documentation>РСЃРїРѕР»РЅРёС‚РµР»СЊРЅРѕРµ РїСЂРѕРёР·РІРѕРґСЃС‚РІРѕ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="РђР”">
    <xs:annotation>
     <xs:documentation>Р”РµР»Рѕ РїРѕ Р°РґРјРёРЅРёСЃС‚СЂР°С‚РёРІРЅРѕРјСѓ РїСЂР°РІРѕРЅР°СЂСѓС€РµРЅРёСЋ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="Р Р”">
    <xs:annotation>
     <xs:documentation>Р Р°Р·С‹СЃРєРЅРѕРµ РґРµР»Рѕ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="РЈР”">
    <xs:annotation>
     <xs:documentation>РЈРіРѕР»РѕРІРЅРѕРµ РґРµР»Рѕ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="Р”Р”Рџ">
    <xs:annotation>
     <xs:documentation>Р”РµР»Рѕ РјР°С‚РµСЂРёР°Р»РѕРІ РґРѕСЃР»РµРґСЃС‚РІРµРЅРЅРѕР№ РїСЂРѕРІРµСЂРєРё</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="РЎР”">
    <xs:annotation>
     <xs:documentation>РЎРІРѕРґРЅРѕРµ РёСЃРїРѕР»РЅРёС‚РµР»СЊРЅРѕРµ РїСЂРѕРёР·РІРѕРґСЃС‚РІРѕ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="РџРљ">
    <xs:annotation>
     <xs:documentation>Р—Р°РїСЂРѕСЃ РІ СЂР°РјРєР°С… РІ СЂР°РјРєР°С… РґРµСЏС‚РµР»СЊРЅРѕСЃС‚Рё РїРѕ РїСЂРѕС‚РёРІРѕРґРµР№СЃС‚РІРёСЋ РєРѕСЂСЂСѓРїС†РёРё, РґРµСЏС‚РµР»СЊРЅРѕСЃС‚Рё РїРѕ РѕСЃСѓС‰РµСЃС‚РІР»РµРЅРёСЋ Р±СѓС…РіР°Р»С‚РµСЂСЃРєРѕРіРѕ СѓС‡РµС‚Р°</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DVarchar2Type">
  <xs:annotation>
   <xs:documentation>СЃС‚СЂРѕРєР° РґР»РёРЅРѕР№ 2 СЃРёРјРІРѕР»Р°</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:length value="2"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="DDbtrType">
  <xs:restriction base="xs:string">
   <xs:maxLength value="10"/>
   <xs:enumeration value="1">
    <xs:annotation>
     <xs:documentation>СЋСЂРёРґРёС‡РµСЃРєРѕРµ Р»РёС†Рѕ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="2">
    <xs:annotation>
     <xs:documentation>С„РёР·РёС‡РµСЃРєРѕРµ Р»РёС†Рѕ</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
  </xs:restriction>
 </xs:simpleType>
 <xs:element name="Query" type="fssp:QueryType" substitutionGroup="fssp:Object"/>
 <xs:complexType name="QueryType">
  <xs:annotation>
   <xs:documentation>Р­Р»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="fssp:ObjectType">
    <xs:sequence>
     <xs:element name="Id" type="fssp:DIdType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РёРґРµРЅС‚РёС„РёРєР°С‚РѕСЂ Р·Р°РїСЂРѕСЃР°</xs:documentation>
       <xs:documentation>СѓРЅРёРєР°Р»СЊРЅС‹Р№ РёРґРµРЅС‚РёС„РёРєР°С‚РѕСЂ РґРѕРєСѓРјРµРЅС‚Р°, СЃС„РѕСЂРјРёСЂРѕРІР°РЅРЅС‹Р№ РІ РђРРЎ Р¤РЎРЎРџ Р РѕСЃСЃРёРё</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="DocType" type="fssp:DDocTypeType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>С‚РёРї Р·Р°РїСЂРѕСЃР°</xs:documentation>
       <xs:documentation>Р±СѓРєРІРµРЅРЅС‹Р№ РєРѕРґ СЌР»РµРєС‚СЂРѕРЅРЅРѕРіРѕ Р·Р°РїСЂРѕСЃР°</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="DocName" type="fssp:DDescriptionType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РЅР°РёРјРµРЅРѕРІР°РЅРёРµ Р·Р°РїСЂРѕСЃР°</xs:documentation>
       <xs:documentation>РЅР°РёРјРµРЅРѕРІР°РЅРёРµ СЌР»РµРєС‚СЂРѕРЅРЅРѕРіРѕ Р·Р°РїСЂРѕСЃР°</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="DivVksp" type="fssp:DVkspType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РЎРџ.РљРѕРґ</xs:documentation>
       <xs:documentation>РєРѕРґ СЃС‚СЂСѓРєС‚СѓСЂРЅРѕРіРѕ РїРѕРґСЂР°Р·РґРµР»РµРЅРёСЏ С‚РµСЂСЂРёС‚РѕСЂРёР°Р»СЊРЅРѕРіРѕ РѕСЂРіР°РЅР° (РґР°Р»РµРµ вЂ“ РўРћ) РёР»Рё С†РµРЅС‚СЂР°Р»СЊРЅРѕРіРѕ Р°РїРїР°СЂР°С‚Р° (РґР°Р»РµРµ вЂ“ Р¦Рђ) Р¤РЎРЎРџ Р РѕСЃСЃРёРё, РІ РєРѕС‚РѕСЂРѕРј Р±С‹Р» РІС‹РЅРµСЃРµРЅ Рё Р·Р°СЂРµРіРёСЃС‚СЂРёСЂРѕРІР°РЅ СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="DivName" type="fssp:DDescriptionType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РЎРџ.РќР°РёРјРµРЅРѕРІР°РЅРёРµ</xs:documentation>
       <xs:documentation>РєСЂР°С‚РєРѕРµ РЅР°РёРјРµРЅРѕРІР°РЅРёРµ СЃС‚СЂСѓРєС‚СѓСЂРЅРѕРіРѕ РїРѕРґСЂР°Р·РґРµР»РµРЅРёСЏ РўРћ РёР»Рё Р¦Рђ Р¤РЎРЎРџ Р РѕСЃСЃРёРё, РІ РєРѕС‚РѕСЂРѕРј Р±С‹Р» РІС‹РЅРµСЃРµРЅ СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="DivAdr" type="fssp:DAddrType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РЎРџ.РђРґСЂРµСЃ</xs:documentation>
       <xs:documentation>Р°РґСЂРµСЃ СЃС‚СЂСѓРєС‚СѓСЂРЅРѕРіРѕ РїРѕРґСЂР°Р·РґРµР»РµРЅРёСЏ РўРћ РёР»Рё Р¦Рђ Р¤РЎРЎРџ Р РѕСЃСЃРёРё, РІ РєРѕС‚РѕСЂРѕРј Р±С‹Р» РІС‹РЅРµСЃРµРЅ СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="DocDate" type="fssp:DDateType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РґР°С‚Р° Р·Р°РїСЂРѕСЃР°</xs:documentation>
       <xs:documentation>РґР°С‚Р° СЃРѕР·РґР°РЅРёСЏ СЌР»РµРєС‚СЂРѕРЅРЅРѕРіРѕ Р·Р°РїСЂРѕСЃР°</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="FioSign" type="fssp:DUserFioType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>Р¤.Р.Рћ. Р»РёС†Р°, РїРѕРґРїРёСЃР°РІС€РµРіРѕ Р·Р°РїСЂРѕСЃ</xs:documentation>
       <xs:documentation>С„Р°РјРёР»РёСЏ, РёРјСЏ Рё РѕС‚С‡РµСЃС‚РІРѕ (РµСЃР»Рё РёРјРµРµС‚СЃСЏ) (РґР°Р»РµРµ - Р¤.Р.Рћ.) РґРѕР»Р¶РЅРѕСЃС‚РЅРѕРіРѕ Р»РёС†Р° Р¤РЎРЎРџ Р РѕСЃСЃРёРё, РїРѕРґРїРёСЃР°РІС€РµРіРѕ СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="OrganSignPostCode" type="fssp:DPostcodeType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РєРѕРґ РґРѕР»Р¶РЅРѕСЃС‚Рё, РїРѕРґРїРёСЃР°РІС€РµРіРѕ Р·Р°РїСЂРѕСЃ</xs:documentation>
       <xs:documentation>РєРѕРґ РґРѕР»Р¶РЅРѕСЃС‚Рё Р»РёС†Р°, РїРѕРґРїРёСЃР°РІС€РµРіРѕ СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ, РїРѕ РћРљРџР”РўР  РёР»Рё Р Р”Р¤Р“Р“РЎ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="OrganSignPost" type="fssp:DPostnameType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РґРѕР»Р¶РЅРѕСЃС‚СЊ Р»РёС†Р°, РїРѕРґРїРёСЃР°РІС€РµРіРѕ Р·Р°РїСЂРѕСЃ</xs:documentation>
       <xs:documentation>РґРѕР»Р¶РЅРѕСЃС‚СЊ Р»РёС†Р°, РїРѕРґРїРёСЃР°РІС€РµРіРѕ СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="DeloType" type="fssp:DDeloTypeType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РІРёРґ РґРµР»Р°</xs:documentation>
       <xs:documentation>РєРѕРґ РІРёРґР° РґРµР»Р°, РІ СЂР°РјРєР°С… РєРѕС‚РѕСЂРѕРіРѕ РЅР°РїСЂР°РІР»РµРЅ СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="SearchRegion" type="fssp:DVarchar2Type" minOccurs="0">
      <xs:annotation>
       <xs:documentation>СЂРµРіРёРѕРЅ РїРѕРёСЃРєР°</xs:documentation>
       <xs:documentation>РѕРіСЂР°РЅРёС‡РµРЅРёРµ РїРѕРёСЃРєР° РїРѕ СЃСѓР±СЉРµРєС‚Сѓ Р РѕСЃСЃРёР№СЃРєРѕР№ Р¤РµРґРµСЂР°С†РёРё (2С… Р·РЅР°С‡РЅС‹Р№ С†РёС„СЂРѕРІРѕР№ РєРѕРґ)</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="SearchBeginDate" type="fssp:DDateType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РґР°С‚Р° РЅР°С‡Р°Р»Р° РїРµСЂРёРѕРґР°</xs:documentation>
       <xs:documentation>РїРµСЂРµРґР°РµС‚СЃСЏ РґР°С‚Р° РЅР°С‡Р°Р»Р° РїРµСЂРёРѕРґР° РїРѕРёСЃРєР° РґР»СЏ С…СЂРѕРЅРѕР»РѕРіРёС‡РµСЃРєРѕР№ РёРЅС„РѕСЂРјР°С†РёРё, Р·Р° РєРѕС‚РѕСЂС‹Р№ РЅРµРѕР±С…РѕРґРёРјРѕ РїСЂРµРґРѕСЃС‚Р°РІРёС‚СЊ СЃРІРµРґРµРЅРёСЏ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="Data" type="fssp:DVarchar3000Type" minOccurs="1">
      <xs:annotation>
       <xs:documentation>Р·Р°РїСЂР°С€РёРІР°РµРјС‹Рµ СЃРІРµРґРµРЅРёСЏ</xs:documentation>
       <xs:documentation>РїРµСЂРµС‡РµРЅСЊ СЃРІРµРґРµРЅРёР№, РєРѕС‚РѕСЂС‹Рµ РЅРµРѕР±С…РѕРґРёРјРѕ РїСЂРµРґРѕСЃС‚Р°РІРёС‚СЊ РІ РѕС‚РІРµС‚Рµ РЅР° СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="AnswerTerm" type="fssp:DPositiveIntegerType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>СЃСЂРѕРє РїСЂРµРґРѕСЃС‚Р°РІР»РµРЅРёСЏ РѕС‚РІРµС‚Р°</xs:documentation>
       <xs:documentation>СЃСЂРѕРє РїСЂРµРґРѕСЃС‚Р°РІР»РµРЅРёСЏ РѕС‚РІРµС‚Р° (РІ СЂР°Р±РѕС‡РёС… РґРЅСЏС…). РЎСЂРѕРє РѕС‚СЃС‡РёС‚С‹РІР°РµС‚СЃСЏ СЃ РґР°С‚С‹ РїРѕР»СѓС‡РµРЅРёСЏ Р·Р°РїСЂРѕСЃР° Р°РґСЂРµСЃР°С‚РѕРј</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element ref="fssp:RequestSubject" minOccurs="1" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>РёРЅС„РѕСЂРјР°С†РёСЏ Рѕ Р»РёС†Р°С…, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂС‹С… РЅР°РїСЂР°РІР»РµРЅ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element ref="fssp:NpaActs" minOccurs="1" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>РёРЅС„РѕСЂРјР°С†РёСЏ Рѕ РЅРѕСЂРјР°С‚РёРІРЅС‹С… РїСЂР°РІРѕРІС‹С… Р°РєС‚Р°С…, РЅР° РѕСЃРЅРѕРІР°РЅРёРё РєРѕС‚РѕСЂС‹С… РІС‹РЅРµСЃРµРЅ СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element ref="fssp:ActWarnings" minOccurs="1" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>РёРЅС„РѕСЂРјР°С†РёСЏ Рѕ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏС… РѕР± РѕС‚РІРµС‚СЃС‚РІРµРЅРЅРѕСЃС‚Рё, СѓРІРµРґРѕРјР»РµРЅРёСЏС…, СЃРѕРґРµСЂР¶Р°С‰РёС…СЃСЏ РІ СЌР»РµРєС‚СЂРѕРЅРЅРѕРј Р·Р°РїСЂРѕСЃРµ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element ref="fssp:Sendlist" minOccurs="1" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Р°РґСЂРµСЃР°С‚, РєРѕС‚РѕСЂРѕРјСѓ РЅР°РїСЂР°РІР»СЏРµС‚СЃСЏ СЌР»РµРєС‚СЂРѕРЅРЅС‹Р№ Р·Р°РїСЂРѕСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:element name="ActWarnings" type="fssp:ActWarningsType" substitutionGroup="fssp:Object"/>
 <xs:complexType name="ActWarningsType">
  <xs:annotation>
   <xs:documentation>РџСЂРµРґСѓРїСЂРµР¶РґРµРЅРёРµ РѕР± РѕС‚РІРµС‚СЃС‚РІРµРЅРЅРѕСЃС‚Рё, СѓРІРµРґРѕРјР»РµРЅРёРµ</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="fssp:ObjectType">
    <xs:sequence>
     <xs:element name="WarningType" type="fssp:DPievDocAttributeTypeType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РІРёРґ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏ (СѓРІРµРґРѕРјР»РµРЅРёСЏ)</xs:documentation>
       <xs:documentation>РІРёРґ РёРЅС„РѕСЂРјР°С†РёРё Рѕ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏС… РѕР± РѕС‚РІРµС‚СЃС‚РІРµРЅРЅРѕСЃС‚Рё, СѓРІРµРґРѕРјР»РµРЅРёСЏС…, СЃРѕРґРµСЂР¶Р°С‰РµР№СЃСЏ РІ Р·Р°РїСЂРѕСЃРµ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="WarningCode" type="fssp:DWarningCodeType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РєРѕРґ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏ (СѓРІРµРґРѕРјР»РµРЅРёСЏ)</xs:documentation>
       <xs:documentation>РєРѕРґ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏ РѕР± РѕС‚РІРµС‚СЃС‚РІРµРЅРЅРѕСЃС‚Рё, СѓРІРµРґРѕРјР»РµРЅРёСЏ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="WarningText" type="fssp:DDescriptionType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>С‚РµРєСЃС‚ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏ (СѓРІРµРґРѕРјР»РµРЅРёСЏ)</xs:documentation>
       <xs:documentation>С‚РµРєСЃС‚ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏ РѕР± РѕС‚РІРµС‚СЃС‚РІРµРЅРЅРѕСЃС‚Рё, СѓРІРµРґРѕРјР»РµРЅРёСЏ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element ref="fssp:NpaActs" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>РќРџРђ</xs:documentation>
       <xs:documentation>СЃСЃС‹Р»РєР° РЅР° РЅРѕСЂРјР°С‚РёРІРЅС‹Рµ РїСЂР°РІРѕРІС‹Рµ Р°РєС‚С‹</xs:documentation>
      </xs:annotation>
     </xs:element>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:element name="NpaActs" type="fssp:NpaActsType" substitutionGroup="fssp:Object"/>
 <xs:complexType name="NpaActsType">
  <xs:annotation>
   <xs:documentation>РРЅС„РѕСЂРјР°С†РёСЏ Рѕ РќРџРђ</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="fssp:ObjectType">
    <xs:sequence>
     <xs:element name="NPAType" type="fssp:DNPAType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>С‚РёРї РќРџРђ</xs:documentation>
       <xs:documentation>С‚РёРї РќРџРђ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="NpaCaption" type="fssp:DCaptionType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РЅР°РёРјРµРЅРѕРІР°РЅРёРµ РќРџРђ</xs:documentation>
       <xs:documentation>РЅР°РёРјРµРЅРѕРІР°РЅРёРµ РќРџРђ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element ref="fssp:NpaArticle" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>СЃС‚СЂСѓРєС‚СѓСЂРЅР°СЏ РµРґРёРЅРёС†Р° РќРџРђ</xs:documentation>
       <xs:documentation>СЃС‚СЂСѓРєС‚СѓСЂРЅР°СЏ РµРґРёРЅРёС†Р° РќРџРђ. Р‘Р»РѕРє РїРѕРІС‚РѕСЂСЏРµС‚СЃСЏ РґР»СЏ РєР°Р¶РґРѕР№ СЃС‚СЂСѓРєС‚СѓСЂРЅРѕР№ РµРґРёРЅРёС†С‹ РќРџРђ.</xs:documentation>
      </xs:annotation>
     </xs:element>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:element name="NpaArticle" type="fssp:NpaArticleType" substitutionGroup="fssp:Object"/>
 <xs:complexType name="NpaArticleType">
  <xs:annotation>
   <xs:documentation>CС‚СЂСѓРєС‚СѓСЂРЅР°СЏ РµРґРёРЅРёС†Р° РќРџРђ</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="fssp:ObjectType">
    <xs:sequence>
     <xs:element name="Article" type="fssp:DVarchar10Type" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РЅРѕРјРµСЂ</xs:documentation>
       <xs:documentation>РЅРѕРјРµСЂ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="ArticleType" type="fssp:DVarchar1Type" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РІРёРґ</xs:documentation>
       <xs:documentation>РІРёРґ  СЃС‚СЂСѓРєС‚СѓСЂРЅРѕР№ РµРґРёРЅРёС†С‹: 1 - СЂР°Р·РґРµР»; 2 - РіР»Р°РІР°; 3 - СЃС‚Р°С‚СЊСЏ; 4 - РїР°СЂР°РіСЂР°С„; 5 - РїСѓРЅРєС‚; 6 - РїРѕРґРїСѓРЅРєС‚; 7 - С‡Р°СЃС‚СЊ; 8 - Р°Р±Р·Р°С†; 9 - РїСЂРёР»РѕР¶РµРЅРёРµ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="IsMain" type="fssp:DBooleanType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РѕСЃРЅРѕРІРЅР°СЏ СЃС‚СЂСѓРєС‚СѓСЂРЅР°СЏ РµРґРёРЅРёС†Р°</xs:documentation>
       <xs:documentation>РѕС‚РјРµС‚РєР°, СЏРІР»СЏРµС‚СЃСЏ Р»Рё СЃС‚СЂСѓРєС‚СѓСЂРЅР°СЏ РµРґРёРЅРёС†Р° РѕСЃРЅРѕРІРЅРѕР№</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element ref="fssp:NpaArticle" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>СЃС‚СЂСѓРєС‚СѓСЂРЅР°СЏ РµРґРёРЅРёС†Р° РќРџРђ</xs:documentation>
       <xs:documentation>Р±Р»РѕРє РїРѕРІС‚РѕСЂСЏРµС‚СЃСЏ РґР»СЏ РєР°Р¶РґРѕР№ СЃС‚СЂСѓРєС‚СѓСЂРЅРѕР№ РµРґРёРЅРёС†С‹ РќРџРђ</xs:documentation>
      </xs:annotation>
     </xs:element>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:element name="Sendlist" type="fssp:SendlistType" substitutionGroup="fssp:Object"/>
 <xs:complexType name="SendlistType">
  <xs:annotation>
   <xs:documentation>РРЅС„РѕСЂРјР°С†РёСЏ РѕР± Р°РґСЂРµСЃР°С‚Рµ</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="fssp:ObjectType">
    <xs:sequence>
     <xs:element name="Receiver" type="fssp:DDescriptionType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РїРѕР»СѓС‡Р°С‚РµР»СЊ</xs:documentation>
       <xs:documentation>Р¤.Р.Рћ. РёР»Рё РЅР°РёРјРµРЅРѕРІР°РЅРёРµ Р°РґСЂРµСЃР°С‚Р° Р·Р°РїСЂРѕСЃР°</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="ReceiverAddrType" type="fssp:DReceiverAddrTypeType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>С‚РёРї Р°РґСЂРµСЃР° РїРѕР»СѓС‡Р°С‚РµР»СЏ</xs:documentation>
       <xs:documentation>С‚РёРї Р°РґСЂРµСЃР°</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="ReceiverAddr" type="fssp:DDescriptionType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>Р°РґСЂРµСЃ РїРѕР»СѓС‡Р°С‚РµР»СЏ</xs:documentation>
       <xs:documentation>Р°РґСЂРµСЃ</xs:documentation>
      </xs:annotation>
     </xs:element>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:element name="RequestSubject" type="fssp:RequestSubjectType" substitutionGroup="fssp:Object"/>
 <xs:complexType name="RequestSubjectType">
  <xs:annotation>
   <xs:documentation>Р›РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂС‹С… РЅР°РїСЂР°РІР»РµРЅ Р·Р°РїСЂРѕСЃ</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="fssp:ObjectType">
    <xs:sequence>
     <xs:element name="DeloNum" type="fssp:DDocnumberType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>РЅРѕРјРµСЂ РґРµР»Р°</xs:documentation>
       <xs:documentation>РЅРѕРјРµСЂ РґРµР»Р°, РїРѕ РєРѕС‚РѕСЂРѕРјСѓ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="DeloDate" type="fssp:DDateType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РґР°С‚Р° РІСЃС‚СѓРїР»РµРЅРёСЏ СЂРµС€РµРЅРёСЏ РІ Р·Р°РєРѕРЅРЅСѓСЋ СЃРёР»Сѓ</xs:documentation>
       <xs:documentation>РґР°С‚Р° РІСЃС‚СѓРїР»РµРЅРёСЏ СЂРµС€РµРЅРёСЏ РІ Р·Р°РєРѕРЅРЅСѓСЋ СЃРёР»Сѓ. Р—Р°РїРѕР»РЅСЏРµС‚СЃСЏ, РµСЃР»Рё РІ СЂРµРєРІРёР·РёС‚Рµ В«РІРёРґ РґРµР»Р°В» СѓРєР°Р·Р°РЅРѕ Р·РЅР°С‡РµРЅРёРµ В«РРџВ»</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="TotalArrestDebtSum" type="fssp:DMoneyType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РѕР±С‰Р°СЏ СЃСѓРјРјР° С‚СЂРµР±РѕРІР°РЅРёР№</xs:documentation>
       <xs:documentation>РѕР±С‰Р°СЏ СЃСѓРјРјР° С‚СЂРµР±РѕРІР°РЅРёР№, РїРѕРґР»РµР¶Р°С‰РёС… РІР·С‹СЃРєР°РЅРёСЋ РїРѕ РРџ, РІРєР»СЋС‡Р°СЏ РёСЃРїРѕР»РЅРёС‚РµР»СЊСЃРєРёР№ СЃР±РѕСЂ Рё СЂР°СЃС…РѕРґС‹ РЅР° СЃРѕРІРµСЂС€РµРЅРёРµ РёСЃРїРѕР»РЅРёС‚РµР»СЊРЅС‹С… РґРµР№СЃС‚РІРёР№</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="DebtorType" type="fssp:DDbtrType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>С‚РёРї Р»РёС†Р°</xs:documentation>
       <xs:documentation>С‚РёРї Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="Name" type="fssp:DDescriptionType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>Р¤.Р.Рћ РёР»Рё РЅР°РёРјРµРЅРѕРІР°РЅРёРµ РѕСЂРіР°РЅРёР·Р°С†РёРё</xs:documentation>
       <xs:documentation>РЅР°РёРјРµРЅРѕРІР°РЅРёРµ РѕСЂРіР°РЅРёР·Р°С†РёРё РёР»Рё Р¤.Р.Рћ. Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="Adr" type="fssp:DAddrType" minOccurs="1">
      <xs:annotation>
       <xs:documentation>Р°РґСЂРµСЃ</xs:documentation>
       <xs:documentation>Р°РґСЂРµСЃ РѕСЂРіР°РЅРёР·Р°С†РёРё РёР»Рё Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ (РјРµСЃС‚Рѕ Р¶РёС‚РµР»СЊСЃС‚РІР° РёР»Рё РјРµСЃС‚Рѕ РїСЂРµР±С‹РІР°РЅРёСЏ)</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="Born" type="fssp:DDateType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РґР°С‚Р° СЂРѕР¶РґРµРЅРёСЏ</xs:documentation>
       <xs:documentation>РґР°С‚Р° СЂРѕР¶РґРµРЅРёСЏ Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ. Р РµРєРІРёР·РёС‚ Р·Р°РїРѕР»РЅСЏРµС‚СЃСЏ, РµСЃР»Рё Р·РЅР°С‡РµРЅРёРµ СЂРµРєРІРёР·РёС‚Р° В«С‚РёРї Р»РёС†Р° РёР»Рё РѕСЂРіР°РЅРёР·Р°С†РёРёВ» СЂР°РІРЅРѕ Р·РЅР°С‡РµРЅРёСЋ В«2В»</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="Bornadr" type="fssp:DAddrType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РјРµСЃС‚Рѕ СЂРѕР¶РґРµРЅРёСЏ</xs:documentation>
       <xs:documentation>РјРµСЃС‚Рѕ СЂРѕР¶РґРµРЅРёСЏ Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ. Р РµРєРІРёР·РёС‚ Р·Р°РїРѕР»РЅСЏРµС‚СЃСЏ, РµСЃР»Рё Р·РЅР°С‡РµРЅРёРµ СЂРµРєРІРёР·РёС‚Р° В«С‚РёРї Р»РёС†Р° РёР»Рё РѕСЂРіР°РЅРёР·Р°С†РёРёВ» СЂР°РІРЅРѕ Р·РЅР°С‡РµРЅРёСЋ В«2В»</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="Inn" type="fssp:DInnType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РРќРќ</xs:documentation>
       <xs:documentation>РРќРќ РѕСЂРіР°РЅРёР·Р°С†РёРё РёР»Рё Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ. Р РµРєРІРёР·РёС‚ РѕР±СЏР·Р°С‚РµР»РµРЅ РґР»СЏ Р·Р°РїРѕР»РЅРµРЅРёСЏ, РµСЃР»Рё Р·РЅР°С‡РµРЅРёРµ СЂРµРєРІРёР·РёС‚Р° В«С‚РёРї Р»РёС†Р° РёР»Рё РѕСЂРіР°РЅРёР·Р°С†РёРёВ» СЂР°РІРЅРѕ Р·РЅР°С‡РµРЅРёСЋ В«1В»</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="Kpp" type="fssp:DKppType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РљРџРџ</xs:documentation>
       <xs:documentation>РљРџРџ РѕСЂРіР°РЅРёР·Р°С†РёРё РёР»Рё Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ. Р РµРєРІРёР·РёС‚ Р·Р°РїРѕР»РЅСЏРµС‚СЃСЏ, РµСЃР»Рё Р·РЅР°С‡РµРЅРёРµ СЂРµРєРІРёР·РёС‚Р° В«С‚РёРї Р»РёС†Р° РёР»Рё РѕСЂРіР°РЅРёР·Р°С†РёРёВ» СЂР°РІРЅРѕ Р·РЅР°С‡РµРЅРёСЋ В«1В»</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="Ogrn" type="fssp:DOgrnType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РћР“Р Рќ</xs:documentation>
       <xs:documentation>РћР“Р Рќ РѕСЂРіР°РЅРёР·Р°С†РёРё РёР»Рё Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ. Р РµРєРІРёР·РёС‚ Р·Р°РїРѕР»РЅСЏРµС‚СЃСЏ, РµСЃР»Рё Р·РЅР°С‡РµРЅРёРµ СЂРµРєРІРёР·РёС‚Р° В«С‚РёРї Р»РёС†Р° РёР»Рё РѕСЂРіР°РЅРёР·Р°С†РёРёВ» СЂР°РІРЅРѕ Р·РЅР°С‡РµРЅРёСЋ В«1В»</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="SNILS" type="fssp:DSnilsType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РЎРќРР›РЎ</xs:documentation>
       <xs:documentation>РЎРќРР›РЎ Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="TypeDocCode" type="fssp:DPersonDocumentTypeType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РєРѕРґ С‚РёРїР° РґРѕРєСѓРјРµРЅС‚Р°</xs:documentation>
       <xs:documentation>РєРѕРґ РІРёРґР° РґРѕРєСѓРјРµРЅС‚Р°, СѓРґРѕСЃС‚РѕРІРµСЂСЏСЋС‰РµРіРѕ Р»РёС‡РЅРѕСЃС‚СЊ  С„РёР·РёС‡РµСЃРєРѕРіРѕ Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ. Р РµРєРІРёР·РёС‚ РѕР±СЏР·Р°С‚РµР»РµРЅ РґР»СЏ Р·Р°РїРѕР»РЅРµРЅРёСЏ, РµСЃР»Рё Р·РЅР°С‡РµРЅРёРµ СЂРµРєРІРёР·РёС‚Р° В«С‚РёРї Р»РёС†Р° РёР»Рё РѕСЂРіР°РЅРёР·Р°С†РёРёВ» СЂР°РІРЅРѕ Р·РЅР°С‡РµРЅРёСЋ В«2В» Рё РЅРµ Р·Р°РїРѕР»РЅС‹ СЂРµРєРІРёР·РёС‚С‹ В«РґР°С‚Р° СЂРѕР¶РґРµРЅРёСЏВ» Рё В«РјРµСЃС‚Рѕ СЂРѕР¶РґРµРЅРёСЏВ»</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="SerDoc" type="fssp:DVarchar25Type" minOccurs="0">
      <xs:annotation>
       <xs:documentation>СЃРµСЂРёСЏ РґРѕРєСѓРјРµРЅС‚Р°</xs:documentation>
       <xs:documentation>СЃРµСЂРёСЏ РґРѕРєСѓРјРµРЅС‚Р°, СѓРґРѕСЃС‚РѕРІРµСЂСЏСЋС‰РµРіРѕ Р»РёС‡РЅРѕСЃС‚СЊ С„РёР·РёС‡РµСЃРєРѕРіРѕ Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ. Р РµРєРІРёР·РёС‚ Р·Р°РїРѕР»РЅСЏРµС‚СЃСЏ, РµСЃР»Рё СЂРµРєРІРёР·РёС‚ В«РєРѕРґ С‚РёРїР° РґРѕРєСѓРјРµРЅС‚Р°В» Р·Р°РїРѕР»РЅРµРЅ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="NumDoc" type="fssp:DVarchar25Type" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РЅРѕРјРµСЂ РґРѕРєСѓРјРµРЅС‚Р°</xs:documentation>
       <xs:documentation>РЅРѕРјРµСЂ РґРѕРєСѓРјРµРЅС‚Р°, СѓРґРѕСЃС‚РѕРІРµСЂСЏСЋС‰РµРіРѕ Р»РёС‡РЅРѕСЃС‚СЊ С„РёР·РёС‡РµСЃРєРѕРіРѕ Р»РёС†Р°, РІ РѕС‚РЅРѕС€РµРЅРёРё РєРѕС‚РѕСЂРѕРіРѕ Р·Р°РїСЂР°С€РёРІР°СЋС‚СЃСЏ СЃРІРµРґРµРЅРёСЏ. Р РµРєРІРёР·РёС‚ РѕР±СЏР·Р°С‚РµР»РµРЅ РґР»СЏ Р·Р°РїРѕР»РЅРµРЅРёСЏ, РµСЃР»Рё СЂРµРєРІРёР·РёС‚ В«РєРѕРґ С‚РёРїР° РґРѕРєСѓРјРµРЅС‚Р°В» Р·Р°РїРѕР»РЅРµРЅ</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="InnCrd" type="fssp:DInnType" minOccurs="0">
      <xs:annotation>
       <xs:documentation>РРќРќ РІР·С‹СЃРєР°С‚РµР»СЏ</xs:documentation>
       <xs:documentation>РРќРќ РІР·С‹СЃРєР°С‚РµР»СЏ. Р РµРєРІРёР·РёС‚ РѕР±СЏР·Р°С‚РµР»СЊРЅС‹Р№ РґР»СЏ Р·Р°РїРѕР»РЅРµРЅРёСЏ, РµСЃР»Рё Р·РЅР°С‡РµРЅРёРµ СЂРµРєРІРёР·РёС‚Р° В«С‚РёРї Р·Р°РїСЂРѕСЃР°В» РІ Р±Р»РѕРєРµ Query СЂР°РІРЅРѕ Р·РЅР°С‡РµРЅРёСЋ В«O_IP_REQ_PAY_DEBTВ» (В«Р—Р°РїСЂРѕСЃ СЃРІРµРґРµРЅРёР№ Рѕ РїРѕРіР°С€РµРЅРёРё РґРѕР»Р¶РЅРёРєРѕРј Р·Р°РґРѕР»Р¶РµРЅРЅРѕСЃС‚РёВ»)</xs:documentation>
      </xs:annotation>
     </xs:element>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:element name="Object" type="fssp:ObjectType" abstract="true"/>
 <xs:complexType name="ObjectType">
  <xs:annotation>
   <xs:documentation>Р‘Р°Р·РѕРІС‹Р№ РєР»Р°СЃСЃ РґР»СЏ РІСЃРµС… РґРѕРєСѓРјРµРЅС‚РѕРІ</xs:documentation>
  </xs:annotation>
 </xs:complexType>
</xs:schema>